<!-- <div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create material</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.name" class="form-control" placeholder="Tên nguyên liệu">
    </div>
    <div class="form-group">
            <label for="department1">Loại nguyên liệu</label>
            <select style="font-size: 15px; height: 50px;" id="department1" name="department1"
                [(ngModel)]="employeetypeDetails.materialType" class="form-control">
                <option *ngFor="let materialtype of Content.content" [value]="materialtype.name">
                    {{materialtype.name}}
                </option>
            </select>
        </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.inventory" class="form-control" placeholder="tồn kho">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.maxInventory" class="form-control" placeholder="tồn kho tối đa">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.minInventory" class="form-control" placeholder="tồn kho tối thiểu">
    </div>
    <div class="form-group">
            <label for="department2">UNIT</label>
            <select style="font-size: 15px; height: 50px;" id="department1" name="department2"
                [(ngModel)]="employeetypeDetails.unit" class="form-control">
                <option *ngFor="let unit of Content1.content" [value]="unit.name">
                    {{unit.name}}
                </option>
            </select>
        </div>
    

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addEmployeetype()">Create material</button>
    </div>
  </div>
</div> -->


<mat-toolbar>
  <!-- sửa sòng span đầu tiên thành <span>{{id?"Modify Employee":"New Employee"}}</span> -->
  <span>{{id?"Cập nhật nguyên liệu":"Tạo mới nguyên liệu"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<div class="container custom-container" style="margin-left: 0px; margin-top: 30px;">
  <div class="col-md-12">
    <!-- <h3 class="mb-3 text-center">Create Employee</h3> -->
    <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.name" class="form-control" placeholder="Tên nguyên liệu">
    </div>
    <div class="form-group">
            <label for="department1">Loại nguyên liệu</label>
            <select style="font-size: 15px; height: 50px;" id="department1" name="department1"
                [(ngModel)]="restApi.employeetypeDetails.materialType" class="form-control">
                <option *ngFor="let materialtype of Content.content" [value]="materialtype.name">
                    {{materialtype.name}}
                </option>
            </select>
        </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.inventory" class="form-control" placeholder="tồn kho">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.maxInventory" class="form-control" placeholder="tồn kho tối đa">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.minInventory" class="form-control" placeholder="tồn kho tối thiểu">
    </div>
    <div class="form-group">
            <label for="department2">UNIT</label>
            <select style="font-size: 15px; height: 50px;" id="department1" name="department2"
                [(ngModel)]="restApi.employeetypeDetails.unit" class="form-control">
                <option *ngFor="let unit of Content1.content" [value]="unit.name">
                    {{unit.name}}
                </option>
            </select>
        </div>
    <!-- <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.name" class="form-control" placeholder="Loại nhân viên">
    </div> -->
    <div class="button-row" style="float: right;">
        <!-- sửa các button lại như vầy -->
        <button *ngIf="id === null" mat-raised-button color="primary" (click)="addEmployeetype()">Xác nhận</button>
        <button *ngIf="id !== null" mat-raised-button color="primary" (click)="modifyEmployeetype()">Xác nhận</button>
        <!-- <button mat-raised-button color="warn" (click)="onClear()">Clear</button> -->
      </div>
    <!-- <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addEmployeetype()">Create Employee</button>
    </div> -->
  </div>
</div>



