<div class="container custom-container">
  <div class="col-md-12">
    
    <h3 class="mb-3 text-center">Cập nhật chi nhánh</h3>

    <div class="form-group" >
    <!-- <input type="hidden" [(ngModel)]="employeetype1.id" class="form-control" placeholder="Name"> -->
      <input type="text" [(ngModel)]="employeetypeDetails.name" class="form-control" placeholder="Name">
    </div>
    <div class="form-group" >
    <!-- <input type="hidden" [(ngModel)]="employeetype1.id" class="form-control" placeholder="Name"> -->
      <input type="text" [(ngModel)]="employeetypeDetails.address" class="form-control" placeholder="Địa chỉ">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateEmployeetype()">Update Employee</button>
    </div>
    
  </div>
</div>
