<!-- <div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Supplier</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.name" class="form-control" placeholder="Nhà cung cấp">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.phone" class="form-control" placeholder="Số điện thoại">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.address" class="form-control" placeholder="Địa chỉ">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.taxCode" class="form-control" placeholder="taxcode">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.note" class="form-control" placeholder="Ghi chú">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.totalPurchase" class="form-control" placeholder="Tổng tiền">
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addEmployeetype()">Create Supplier</button>
    </div>
  </div>
</div> -->

<mat-toolbar>
  <!-- sửa sòng span đầu tiên thành <span>{{id?"Modify Employee":"New Employee"}}</span> -->
  <span>{{restApi.form.controls['id'].value?"Cập nhật nhà cung cấp":"Tạo mới nhà cung cấp"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="restApi.form" class="normal-form" (submit)="onSubmit()">

  <div class="controles-container">
    <input type="hidden" formControlName="id">
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Tên nhà cung cấp*">
      <mat-error>Đây là trường bắt buộc.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email">
      <mat-error>Email không tồn tại</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="phone" matInput placeholder="Số điện thoại*">
      <mat-error *ngIf="restApi.form.controls['phone'].errors?.required">Đây là trường bắt buộc.
      </mat-error>
      <mat-error *ngIf="restApi.form.controls['phone'].errors?.minlength">Tối thiểu 10 chữ số
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="address" matInput placeholder="Địa chỉ">
      <mat-error>Đây là trường bắt buộc.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="taxCode" matInput placeholder="taxCode">
      <mat-error>Đây là trường bắt buộc.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="note" matInput placeholder="Ghi chú">
    </mat-form-field>
  </div>
  <div class="button-row">
    <button mat-raised-button color="primary" style="float: right;" type="submit"
      [disabled]="restApi.form.invalid">Submit</button>
    <button mat-raised-button color="warn" style="float: right;" (click)="onClear()">Clear</button>
  </div>
</form>


<!-- <div class="container custom-container" style="margin-left: 0px; margin-top: 30px;">
  <div class="col-md-12">
    <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.name" class="form-control" placeholder="Nhà cung cấp">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.phone" class="form-control"
        placeholder="Số điện thoại">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.address" class="form-control" placeholder="Địa chỉ">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.taxCode" class="form-control" placeholder="taxcode">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.note" class="form-control" placeholder="Ghi chú">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.totalPurchase" class="form-control"
        placeholder="Tổng tiền">
    </div>
    
    <div class="button-row" style="float: right;">
     
      <button *ngIf="id === null" mat-raised-button color="primary" (click)="addEmployeetype()">Xác nhận</button>
      <button *ngIf="id !== null" mat-raised-button color="primary" (click)="modifyEmployeetype()">Xác nhận</button>
      
    </div>
    
  </div>
</div> -->