<div class="container">
    <h1>Danh sách loại bàn</h1>
    
    <table class="table table-hover" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Loại bàn</th>
          <th>Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tabletype of Content.content">
            <td>{{tabletype.id}}</td>
            <td>{{tabletype.name}}</td>
            <td>
                <button class="btn btn-primary" 
                routerLink="/tabletype-edit/{{tabletype.id}}">Edit</button> 
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteEmployeetype(tabletype.id)">Delete</button>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-primary" 
    routerLink="/home">Back</button>
  </div>
  <div>
    <button class="btn btn-dark" 
    routerLink="/tabletype-create">Tạo mới</button>
  </div>
