 <div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Tabletype</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.name" class="form-control" placeholder="Loại bàn">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.id" class="form-control" placeholder="ID">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addEmployeetype()">Create Tabletype</button>
    </div>
  </div>
</div>
<h2>My Heroes</h2>

<div>
  <!-- <label>Hero name:
    <input #heroName />
  </label> -->
  <div class="form-group">
    <label for="department1">Loại ghế</label>
    <select style="font-size: 15px; height: 50px;" id="department1" name="department1" #heroName
      class="form-control">
      <option *ngFor="let employeetype of Content.content" [value]="employeetype.name">
        {{employeetype.name}}
      </option>
    </select>
  </div>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
  <button (click)="savetable()">
    create
  </button>
</div>

<ul class="empList">
  <li *ngFor="let hero of heroService.empList1">
    
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    <br>
    
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>



