<div class="container">
    <h1>Danh sách bàn </h1>
    
    <table class="table table-hover" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên bàn</th>
          <th>Ghi chú</th>
          <th>Số ghế ngồi</th>
          <th>Loại ghế</th>
          <th>Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let table of Content.content">
            <td>{{table.id}}</td>
            <td>{{table.name}}</td>
            <td>{{table.note}}</td>
            <td>{{table.numberOfChair}}</td>
            <td>{{table.tableType}}</td>
            <td>
                <button class="btn btn-primary" 
                routerLink="/table-edit/{{table.id}}">Edit</button> 
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteEmployeetype(table.id)">Delete</button>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-primary" 
    routerLink="/home">Back</button>
  </div>
  <div>
    <button class="btn btn-dark" 
    routerLink="/table-create">Tạo mới</button>
  </div>
