/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-image: url(assets/images/icons-background.svg); */
    background-color: #507ce8;
    color: #fff;
    overflow: hidden;
}
ul {
    max-width: 350px;
    color: #333;
    list-style: none;
    margin: 39px auto;
    padding: 10px;
}

.list li {
    padding: 0px;
    width: 100%;
    height: 85px;
    background: #FAFAAF;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}
.list li button{
    padding: 22px;
    width: 100%;
    height: 85px;
    background: #FAFAAF;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    border: #FAFAAF;
}
.list li div button{
    padding: 22px;
    width: 15px;
    height: 15px;
    background: #FAFAAF;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    border: #FAFAAF;
}
.list li input{
    padding: 22px;
    width: 15px;
    height: 15px;
    background: #FAFAAF;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    border: #FAFAAF;
}
.list li p{
    padding: 22px;
    width: 15px;
    height: 15px;
    background: #FAFAAF;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    border: #FAFAAF;
}

.center {
    text-align: center;
}
.btn {
    padding: 11px 17px;
    font-size: 13px;
    letter-spacing: 0;
    width: 135px;
    height: 130px;
    
}



