<div class="container">
    <h1>Danh sách supply contract</h1>
    
    <table class="table table-hover" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Ngày</th>
          <th>Chi nhánh</th>
          <th>Nhà cung cấp</th>
          <th>Tổng tiền</th>
          <th>Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplycontract of Content.content">
            <td>{{supplycontract.id}}</td>
            <td>{{supplycontract.date}}</td>
            <td>{{supplycontract.branchShop}}</td>
            <td>{{supplycontract.supplier}}</td>
            <td>{{supplycontract.totalPrice}}</td>
            <td>
                <button class="btn btn-primary" 
                routerLink="/supplycontract-edit/{{supplycontract.id}}">Edit</button> 
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteEmployeetype(supplycontract.id)">Delete</button>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-primary" 
    routerLink="/home">Back</button>
  </div>
  <div>
    <button class="btn btn-dark" 
    routerLink="/supplycontract-create">Tạo mới</button>
  </div>
