<div class="container">
    <h1>Danh sách khách hàng</h1>
    
    <table class="table table-hover" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên khách hàng</th>
          <th>Số điện thoại</th>
          <th>Loại khách hàng</th>
          <th>Tổng tiền</th>
          <th>Ghi chú</th>
          <th>Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of Content.content">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.customerType}}</td>
            <td>{{customer.totalPurchase}}</td>
            <td>{{customer.note}}</td>
            <td>
                <button class="btn btn-primary" 
                routerLink="/customer-edit/{{customer.id}}">Edit</button> 
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteEmployeetype(customer.id)">Delete</button>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-primary" 
    routerLink="/home">Back</button>
  </div>
  <div>
    <button class="btn btn-dark" 
    routerLink="/customer-create">Tạo mới</button>
  </div>
