<div class="container">
    <h1>Danh sách thức uống</h1>
    
    <table id="example" class="table table-hover" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên thức uống</th>
          <th>Loại thức uống</th>
          <th>Mô tả</th>
          <th>Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let drink of Content.content">
            <td>{{drink.id}}</td>
            <td>{{drink.name}}</td>
            <td>{{drink.drinkType}}</td>
            <td>{{drink.description}}</td>
            <td>
                <button class="btn btn-primary" 
                routerLink="/drink-edit/{{drink.id}}">Edit</button> 
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteEmployeetype(drink.id)">Delete</button>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-primary" 
    routerLink="/home">Back</button>
  </div>
  <div>
    <button class="btn btn-dark" 
    routerLink="/drink-create">Tạo mới</button>
  </div>
