<div class="container">
    <h1>Danh sách nhà cung cấp</h1>
    
    <table class="table table-hover" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên nhà cung cấp</th>
          <th>Tổng tiền</th>
          <th>Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of Content.content">
            <td>{{supplier.id}}</td>
            <td>{{supplier.name}}</td>
            <td>{{supplier.totalPurchase}}</td>
            <td>
                <button class="btn btn-primary" 
                routerLink="/supplier-edit/{{supplier.id}}">Edit</button> 
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" 
                routerLink="/supplier-view/{{supplier.id}}">View</button> 
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteEmployeetype(supplier.id)">Delete</button>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-primary" 
    routerLink="/home">Back</button>
  </div>
  <div>
    <button class="btn btn-dark" 
    routerLink="/supplier-create">Tạo mới</button>
  </div>
