<!-- <div class="container custom-container">
    <div class="col-md-12">
        <h3 class="mb-3 text-center">Tạo khách hàng</h3>

        <div class="form-group">
            <label for="department1">Loại khách hàng</label>
            <select style="font-size: 15px; height: 50px;" id="department1" name="department1"
                [(ngModel)]="employeetypeDetails.customerType" class="form-control">
                <option *ngFor="let customertype of Content.content" [value]="customertype.name">
                    {{customertype.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <input [(ngModel)]="employeetypeDetails.sex" id="male" type="radio" [value]=true name="gender">
            <label for="male">Male</label> <br>
            <input [(ngModel)]="employeetypeDetails.sex" id="female" type="radio" [value]=false name="gender">
            <label for="female">Female</label>
        </div>
        <div class="form-group">
            <input style="height: 50px;" type="text" [(ngModel)]="employeetypeDetails.email" class="form-control"
                placeholder="Email">
        </div>
        <div class="form-group">
            <input style="height: 50px;" type="text" [(ngModel)]="employeetypeDetails.name" class="form-control"
                placeholder="Tên khách hàng">
        </div>
        <div class="form-group">
            <ejs-datepicker id='datepicker' placeholder='Select a date' [value]='dateValue'
                [(ngModel)]="employeetypeDetails.birthDay" format='yyyy-MM-dd'></ejs-datepicker>
        </div>
        <div class="form-group">
            <input style="height: 50px;" type="text" [(ngModel)]="employeetypeDetails.phone" class="form-control"
                placeholder="Số điện thoại">
        </div>
        <div class="form-group">
            <input style="height: 50px;" type="text" [(ngModel)]="employeetypeDetails.totalPurchase"
                class="form-control" placeholder="Tổng tiền">
        </div>
        <div class="form-group">
            <input style="height: 50px;" type="text" [(ngModel)]="employeetypeDetails.note" class="form-control"
                placeholder="Ghi chú">
        </div>
        <div class="form-group">
            <input style="height: 50px;" type="text" [(ngModel)]="employeetypeDetails.address" class="form-control"
                placeholder="Địa chỉ">
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" (click)="addEmployeetype()">Create Employee</button>
        </div>
    </div>
</div> -->


<mat-toolbar>
    <!-- sửa sòng span đầu tiên thành <span>{{id?"Modify Employee":"New Employee"}}</span> -->
    <span>{{id?"Cập nhật khách hàng":"Tạo mới khách hàng"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<div class="container custom-container" style="margin-left: 0px; margin-top: 30px;">
    <div class="col-md-12">
        <cdk-virtual-scroll-viewport style="height: 500px" itemSize="90">
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <div class="form-group">
                            <label for="department1">Loại khách hàng</label>
                            <select style="font-size: 15px; height: 50px;" id="department1" name="department1"
                                [(ngModel)]="restApi.employeetypeDetails.customerType" class="form-control">
                                <option *ngFor="let customertype of Content.content" [value]="customertype.name">
                                    {{customertype.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input [(ngModel)]="restApi.employeetypeDetails.sex" id="male" type="radio" [value]=true
                                name="gender">
                            <label for="male">Male</label> <br>
                            <input [(ngModel)]="restApi.employeetypeDetails.sex" id="female" type="radio" [value]=false
                                name="gender">
                            <label for="female">Female</label>
                        </div>
                        <div class="form-group">
                            <input style="height: 50px;" type="text" [(ngModel)]="restApi.employeetypeDetails.email"
                                class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input style="height: 50px;" type="text" [(ngModel)]="restApi.employeetypeDetails.name"
                                class="form-control" placeholder="Tên khách hàng">
                        </div>
                        <div class="form-group">
                            <ejs-datepicker id='datepicker' placeholder='Ngày sinh' [value]='dateValue'
                                [(ngModel)]="restApi.employeetypeDetails.birthDay" format='yyyy-MM-dd'></ejs-datepicker>
                        </div>
                        <div class="form-group">
                            <input style="height: 50px;" type="text" [(ngModel)]="restApi.employeetypeDetails.phone"
                                class="form-control" placeholder="Số điện thoại">
                        </div>
                        <div class="form-group">
                            <input style="height: 50px;" type="text"
                                [(ngModel)]="restApi.employeetypeDetails.totalPurchase" class="form-control"
                                placeholder="Tổng tiền">
                        </div>
                        <div class="form-group">
                            <input style="height: 50px;" type="text" [(ngModel)]="restApi.employeetypeDetails.note"
                                class="form-control" placeholder="Ghi chú">
                        </div>
                        <div class="form-group">
                            <input style="height: 50px;" type="text" [(ngModel)]="restApi.employeetypeDetails.address"
                                class="form-control" placeholder="Địa chỉ">
                        </div>
                        <!-- <div class="form-group">
        <input type="text" [(ngModel)]="restApi.employeetypeDetails.name" class="form-control" placeholder="Loại nhân viên">
      </div> -->
                        <div class="button-row" style="float: right;">
                            <!-- sửa các button lại như vầy -->
                            <button *ngIf="id === null" mat-raised-button color="primary"
                                (click)="addEmployeetype()">Xác nhận</button>
                            <button *ngIf="id !== null" mat-raised-button color="primary"
                                (click)="modifyEmployeetype()">Xác nhận</button>
                            <!-- <button mat-raised-button color="warn" (click)="onClear()">Clear</button> -->
                        </div>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
        <!-- <h3 class="mb-3 text-center">Create Employee</h3> -->

        <!-- <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addEmployeetype()">Create Employee</button>
      </div> -->
    </div>
</div>