<div class="container custom-container">
  <div class="col-md-12">
    
    <h3 class="mb-3 text-center">Update tableType</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.name" class="form-control" placeholder="Tên bàn">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.note" class="form-control" placeholder="Ghi chú">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.numberOfChair" class="form-control" placeholder="Số ghế ngồi">
    </div>
    <div class="form-group">
            <label for="department1">Loại ghế</label>
            <select style="font-size: 15px; height: 50px;" id="department1" name="department1"
                [(ngModel)]="employeetypeDetails.tableType" class="form-control">
                <option *ngFor="let tabletype of Content1.content" [value]="tabletype.name">
                    {{tabletype.name}}
                </option>
            </select>
        </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateEmployeetype()">Update tableType</button>
    </div>
    
  </div>
</div>

