<div class="container">
    <h1>Danh sách chi nhánh</h1>
    
    <table class="table table-hover" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên chi nhánh</th>
          <th>Địa chỉ</th>
          <th>Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let branchshop of Content.content">
            <td>{{branchshop.id}}</td>
            <td>{{branchshop.name}}</td>
            <td>{{branchshop.address}}</td>
            <td>
                <button class="btn btn-primary" 
                routerLink="/branchshop-edit/{{branchshop.id}}">Edit</button> 
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteEmployeetype(branchshop.id)">Delete</button>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-primary" 
    routerLink="/home">Back</button>
  </div>
  <div>
    <button class="btn btn-dark" 
    routerLink="/branchshop-create">Tạo mới</button>
  </div>
