<!-- <div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create UNIT</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.name" class="form-control" placeholder="Đơn vị">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addEmployeetype()">Create unit</button>
    </div>
  </div>
</div> -->

<mat-toolbar>
  <!-- sửa sòng span đầu tiên thành <span>{{id?"Modify Employee":"New Employee"}}</span> -->
  <span>{{restApi.form.controls['id'].value?"Cập nhật đơn vị":"Tạo mới đơn vị"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="restApi.form" class="normal-form" (submit)="onSubmit()">
  
    <div class="controles-container">
      <input type="hidden" formControlName="id">
      <mat-form-field>
        <input formControlName="name" matInput placeholder="Tên đơn vị đo*">
        <mat-error>Đây là trường bắt buộc</mat-error>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary" style="float: right;" type="submit"
          [disabled]="restApi.form.invalid">Submit</button>
        <button mat-raised-button color="warn" style="float: right;" (click)="onClear()">Clear</button>
      </div>
    </div>
  
</form>



<!-- <div class="container custom-container" style="margin-left: 0px; margin-top: 30px;">
  <div class="col-md-12">
    
  <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.name" class="form-control" placeholder="Đơn vị">
    </div>
    <div class="button-row" style="float: right;">
        
        <button *ngIf="id === null" mat-raised-button color="primary" (click)="addEmployeetype()">Xác nhận</button>
        <button *ngIf="id !== null" mat-raised-button color="primary" (click)="modifyEmployeetype()">Xác nhận</button>
        
      </div>
   
  </div>
</div> -->