<div class="container custom-container">
    <div class="col-md-12">
        <h3 class="mb-3 text-center">Tạo thức uống</h3>
        <div class="form-group">
            <input style="height: 50px;" type="text" [(ngModel)]="employeetypeDetails.name" class="form-control"
                placeholder="Tên thức uống">
        </div>
        <div class="form-group">
            <label for="department">Loại thức uống</label>
            <select style="font-size: 15px; height: 50px;" id="department" name="department"
                [(ngModel)]="employeetypeDetails.drinkType" class="form-control">
                <option *ngFor="let drinktype of Content.content" [value]="drinktype.name">
                    {{drinktype.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <input style="height: 50px;" type="text" [(ngModel)]="employeetypeDetails.description" class="form-control"
                placeholder="Mô tả">
        </div>

        
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" (click)="addEmployeetype()">Tạo thức uống</button>
        </div>
    </div>
</div>