<!-- <div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Customer</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeetypeDetails.name" class="form-control" placeholder="Loại khách hàng">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addEmployeetype()">Create Customer</button>
    </div>
  </div>
</div> -->



<mat-toolbar>
  <!-- sửa sòng span đầu tiên thành <span>{{id?"Modify Employee":"New Employee"}}</span> -->
  <span>{{id?"Cập nhật loại khách hàng":"Tạo mới loại khách hàng"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<div class="container custom-container" style="margin-left: 0px; margin-top: 30px;">
  <div class="col-md-12">
    <!-- <h3 class="mb-3 text-center">Create Employee</h3> -->

    <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.name" class="form-control" placeholder="Loại khách hàng">
    </div>
    <!-- <div class="form-group">
      <input type="text" [(ngModel)]="restApi.employeetypeDetails.name" class="form-control" placeholder="Loại nhân viên">
    </div> -->
    <div class="button-row" style="float: right;">
        <!-- sửa các button lại như vầy -->
        <button *ngIf="id === null" mat-raised-button color="primary" (click)="addEmployeetype()">Xác nhận</button>
        <button *ngIf="id !== null" mat-raised-button color="primary" (click)="modifyEmployeetype()">Xác nhận</button>
        <!-- <button mat-raised-button color="warn" (click)="onClear()">Clear</button> -->
      </div>
    <!-- <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addEmployeetype()">Create Employee</button>
    </div> -->
  </div>
</div>

