<div class="container custom-container">
    <div class="col-md-12">
        <h3 class="mb-3 text-center">Tạo nhân viên</h3>

        <div class="form-group">
            <label for="department1">Chi nhánh</label>
            <select style="font-size: 15px; height: 50px;" id="department1" name="department1"
                [(ngModel)]="employeetypeDetails.branchShop" class="form-control">
                <option *ngFor="let branchShop of Content1.content" [value]="branchShop.name">
                    {{branchShop.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <input style="height: 50px;" type="text" [(ngModel)]="employeetypeDetails.email" class="form-control"
                placeholder="Email">
        </div>

        <div class="form-group">
            <label for="department">Loại nhân viên</label>
            <select style="font-size: 15px; height: 50px;" id="department" name="department"
                [(ngModel)]="employeetypeDetails.employeeType" class="form-control">
                <option *ngFor="let employeetype of Content.content" [value]="employeetype.name">
                    {{employeetype.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <input style="height: 50px;" type="text" [(ngModel)]="employeetypeDetails.name" class="form-control"
                placeholder="Tên nhân viên">
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" (click)="addEmployeetype()">Create Employee</button>
        </div>
    </div>
</div>